:root,
body {
  width: 100%;
  height: 100%;
  color: rgb(252, 252, 252);
  box-sizing: border-box;
}
body {
  background-color: rgb(90, 78, 78);
  /* (98, 86, 86) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: rgb(125, 0, 0);
  text-shadow: 1px 1px 5px white;
  font-size: 9vh;
}
.end {
  font-size: 4vh;
}

.show_board {
  flex: 9 1 0;
  display: grid;
  background-color: rgb(98, 86, 86);
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 50vw;
  box-shadow: 1px 1px 15px rgb(52, 48, 48);
  margin-bottom: 10vh;
}

#board > div {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12vh;
  margin: 5px;
}
#board > div:hover {
  border: 3px solid white;
  box-shadow: 1px 1px 15px black;
  margin: 0px;
  font-size: 13vh;
}
#board > div:active {
  border: 2px solid white;
  font-size: 11vh;
  box-shadow: 1px 1px 20px black;
}

.newgame {
  border: 0;
  background: transparent;
  color: whitesmoke;
  font-size: 3vh;
  margin-bottom: 4vh;
  border: 0px solid whitesmoke;
  border-radius: 10px;
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
.newgame:hover {
  /* box-shadow: 1px 1px 10px whitesmoke; */
  padding: 0.6vh;
  font-size: 3.6vh;
  margin-bottom: 4.1vh;
}

.gamend {
  font-size: 5vh;
  margin-bottom: 2vh;
}
.gamend:hover {
  font-size: 5.5vh;
  margin-bottom: 2.2vh;
}

h1:hover {
  color: white;
  text-shadow: 1px 1px 15px rgb(125, 0, 0);
  transition-duration: 1.7s;
}
#players {
  font-size: 3vh;
  margin-left: 16vw;
  margin-top: 5vh;
}

.first_player {
  margin-bottom: 100px;
}

.hidden {
  display: none;
}

.first_player,
.second_player {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.35fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

#symbol {
  grid-column: 3/4;
  justify-self: center;
  display: block;
}
form {
  font-size: 4vh;
}
form > div > input {
  font-size: 3vh;
  margin-left: 0;
  border-radius: 10px;
  background-color: rgb(254, 250, 250);
}

.label_plr_one,
.label_plr_two {
  grid-column: 1/2;
  justify-self: right;
  margin-right: 10px;
}

#submit {
  background-color: transparent;
  border: 0;
  font-size: 4vh;
  margin: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
}

#submit:hover {
  font-size: 5vh;
  margin-top: calc(10px - 1.3vh);
  box-shadow: 1px 1px 5px white;
}
